@media only screen and (max-device-width: 900px) {
    .menu { width:100%; }
}

/* reset arquivo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* css lista de ideias conteudo */

body {
    position: relative;
    width: 940px;
    height: 100%;
    margin: 0 auto 30px;
    font-family: 'Roboto', sans-serif;  
    color: #131313;
}

/* config texto */
    h1 {
        font-size: 36px;
        margin: 30px auto 30px;
    }

    h2 {
        font-size: 26px;
        margin: 20px auto 20px;
    }

    h3 {
        font-size: 24px;
        margin: 30px auto 20px;
    }

    h4 {
        font-size: 20px;
        margin: 20px auto 5px;
        color: gray;
    }

    h5 {
        font-size: 11px;
        font-style: italic;
        margin: 10px auto;
    }

    p {
        font-size: 16px;
        }
/* config texto */

/* config tabela */
dt {
    font-size: 20px;
    margin: 20px auto 5px;
    color: gray;
}

dd {
    position: relative;
    margin: 0 auto;
    padding: 5px 30px 0px;
}

dd p {
    padding: 8px 0px;
}

dd ul {
    margin: 10px 0 0 30px;
}

form {
    margin: 30px auto;
}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input {
    display: block;
    margin: 10px 0 20px;
    padding: 5px 5px;
}
